HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Arquivos do Eclipse
.project
.classpath
.settings/
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### ============================
### Security / Sensitive Files
### ============================
# Arquivos com senhas ou configs locais
.env
.env.properties
application.properties

# Caso use versões de exemplo
!application-example.properties

### CSV Files ###
# Ignorar arquivos CSV gerados automaticamente
estoque*.csv
*.csv