/* Estilos para o topo */
.caixa-topo {
    -fx-background-color: #FFA726;
    -fx-padding: 15;
}

.titulo-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.caixa-filtro-pesquisa {
    -fx-alignment: center-left;
}

.filtro-label {
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.clear-filters-button {
    -fx-background-color: #E64A19;
    -fx-text-fill: white;
}

/* Estilos para o lado esquerdo */
.caixa-resumo-produtos {
    -fx-background-color: #f9f9f9;
    -fx-padding: 15;
}

.titulo-resumo-produtos {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.caixa-menor-resumo-produtos {
    -fx-spacing: 5;
}

.nome-produto-resumo-label {
    -fx-font-weight: bold;
}

.quantidade-produto-resumo-label {
    -fx-text-fill: #4CAF50;
}

.botao-gerar-relatorio {
    -fx-background-color: #9C27B0;
    -fx-text-fill: white;
    -fx-max-width: infinity;
}

/* Estilos para o centro */
.caixa-principal-estoque {
    -fx-padding: 10;
}

.consumption-summary {
    -fx-background-color: #FFE0B2;
    -fx-padding: 10;
    -fx-background-radius: 10;
}

.label-produtos-mais-consumidos {
    -fx-font-weight: bold;
}

.tabela-produtos-principal {
    -fx-padding: 10;
}

.buttons-hbox {
    -fx-padding: 10;
}

.botao-gerar-pdf {
    -fx-background-color: #E53935;
    -fx-text-fill: white;
}

.botao-gerar-excel {
    -fx-background-color: #43A047;
    -fx-text-fill: white;
}

.botao-imprimir-relatorio {
    -fx-background-color: #1E88E5;
    -fx-text-fill: white;
}

/* Estilos para o rodapé */
.bottom-hbox {
    -fx-background-color: #e0e0e0;
    -fx-padding: 10;
}

.label-texto-baixo-estoque-total {
    -fx-font-weight: bold;
}

.label-valor-baixo-estoque-total {
    -fx-font-weight: bold;
    -fx-text-fill: #4CAF50;
}